@font-face {
  font-family: "bebas neue";
  src: url("/fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;            
  unicode-range: U+000-5FF;     
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
}


@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
}