
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');@import "tailwindcss";

@theme{

  --color-text: #15080c;
  --color-background: #fafafc;
  --color-primary: #f9436e;
  --color-secondary: #e1bcc7;
  --color-accent: #f9436e;

  --font-montserrat: "Montserrat", serif;
  --font-sans: "Bebas Neue", "Oswald", "Anton", impact;

  --animate-show : show linear both;
  --animate-splash : splash 0.6s cubic-bezier(0.25, 1, 0.7, 1) both;


@keyframes show {
  from {
    opacity: 0;
    scale: 0%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes splash {
  0% {
    opacity: 0;
    scale: 0.2;
  }

  18% {
    opacity: 0;
    scale: 0.2;
  }

  22% {
    opacity: 1;
    scale: 1.15; /* Se expande un poco más del tamaño final */
  }
  25% {
    scale: 1; /* Vuelve al tamaño normal */
  }
}

}

@layer base {
  h1, h2, h3, h4 {
    @apply font-sans;
  }

  h1 {
    @apply text-7xl md:text-9xl uppercase; 
  }

  h2 {
    @apply text-5xl md:text-6xl uppercase;
  }

  h3 {
    @apply text-3xl uppercase;
  }

  h4 {
    @apply text-2xl uppercase;
  }

  body {
    @apply font-montserrat;
  }

  p {
    @apply md:text-xl leading-6;
  }


}

@layer utilities {
  .animate-show {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-fill-mode: both;
    animation-range: entry 35% cover 35%;
  }


  .animate-splash > * {
    animation-timeline: view();
    animation-name: splash;
    animation-fill-mode: both;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }

  .animate-splash > *:nth-child(1) { animation-delay: 0s; }
  .animate-splash > *:nth-child(2) { animation-delay: 0.05s; }
  .animate-splash > *:nth-child(3) { animation-delay: 0.1s; }
  .animate-splash > *:nth-child(4) { animation-delay: 0.15s; }
  .animate-splash > *:nth-child(5) { animation-delay: 0.2s; }

}
